body {
  background-color:#dedece;
  font-size: 2vw;
}
p{
  font-size: 2vw;
}
.playerStats{
  font-size: 2vw;
  text-align: center;
  margin-left: 8%;
}

#questionText {
    font-size: 2vw;
    text-align: left;
  }

#scoreTable {  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  border-collapse: separate;
  border-spacing: 50px 0;
}

#highscores {  
  font-size: 3vw;
  text-align: center;
  color: #4e4c6d
  font-weight: bold;
}


/* Card Borrowed from Homework 3 */
.card {
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  margin-top: 5%;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Submit Button and Radio Buttons Borrowed from WC3 Schools */
/* Submit Button*/
.button {
    background-color: #4e4c6d;
    border: none;
    position: relative;
    margin-top: 10%;
    margin-left: 41%;
    margin-right: 41%;
    color: white;
    padding: 3% 9%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-family: "Times New Roman", Times, serif;
  }

/* The Container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 4%;
    cursor: pointer;
    font-size: 2vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(233, 233, 233);
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #4e4c6d;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 20%;
      left: 20%;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      background: white;
  }